.row-container {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 243, 243);
    padding: 100px;
}

.row {
    justify-content: center;
    align-items: center;
}

.img {

    width: 400px;
    padding:10px;
}
.img-container{
    padding-bottom:20px;
    cursor: pointer;
}

.label {
    font-size: 20px;
    line-height: 1;
    padding: 10px 10px;
    margin: 10px;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.64);
    height: 2rem;
    margin-top: -5rem;
    position: relative;
}

.sp-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-bottom: 30px;
    text-shadow: 0 5px 20px rgb(28, 60, 168);
    color: rgb(8, 8, 79);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.button {
    font-size: 30px;
    background-color: rgb(255, 102, 0);
    padding: 20px;
    border-radius: 20px;
}

.button:hover {
    background-color: aliceblue;
    color: rgb(255, 102, 0);
}

.image-card {
    padding: 20px;
}

