.container{
  background-color: #a4f0f6;
  /* padding: 100px 50px 100px 100px; */
  padding:50px;
  width: 650px;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow:5px 15px 20px rgba(0,0,0,0.15);

}

.mb-3{
  padding:10px;
}

.form-label{
  font-size: 20px;
  font-weight: bold;
}

.m-3{
  padding:10px 15px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow:5px 15px 20px rgba(0,0,0,0.15);
}
.m-3:hover{
  background-color: #ecefef;
  color:#0e1df5;
  font-size: 22px;
}
.textlink{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-control{
  min-width: 400px;
  margin-left:3%;
  
}
