.doctor-card-wrapper{
    max-width:100%;
}
.card-container{
    background-color: rgb(225, 247, 247);
}
.card-head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
    
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-bottom: 50px;
    color: rgb(27, 14, 99);
    text-shadow: 0 10px 15px rgb(98, 177, 177);
}
.appoinment{
    background-color: rgb(255, 136, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    margin-top: 40px;
    padding:10px ;
    font-size: 20px;
    font-family: poppins;
    margin-left: 30px;
    border-radius: 10px;
}
.appoinment:hover{
    background-color: rgb(55, 192, 192);
    
}
/* .btn-appoinment{
    padding-bottom:50px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.desc1{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.desc2{
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    
}
.card-wrapper{
    display:flex;
    /* position:relative; */
    justify-content:space-between;
    align-items:center;
    margin-left:200px;
    margin-bottom: 50px;
    
    /* margin-right: 50px; */
  }
  .card-wrapper section
  {
    display:flex;
    justify-content:space-between;
    align-items:center;
    
  }
  .card-content-desc{
    margin-bottom: 50px;
  }


.card-container{
    width:350px;
    /* min-width:150px; */
    height: 550px;
    border-radius:10px;
    background:white;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    /* padding:5px; */
    box-shadow:0px 0px 20px rgba(0,0,0,0.15);
    transition:0.5s;
    cursor:pointer;
    /* margin:8px; */
  }
  .doctor-img{
    width:350px;
    height:350px;
    padding: 20px;
  }
  .card-gap{
    padding-left: 80px;
    padding-right: 80px;
  }